.header {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: var(--glass);
  backdrop-filter: var(--blur);
  border-bottom: 1px solid var(--border);
}

.header h1 {
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 1px;
  cursor: pointer;
}

.header h1 span {
  color: var(--accent);
}

.header nav a {
  margin-left: 30px;
  color: var(--muted);
  font-weight: 500;
  position: relative;
  text-decoration: none;
}

.header nav a::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 2px;
  background: var(--primary);
  transition: 0.4s;
  transform: translateX(-50%);
}

.header nav a:hover {
  color: white;
}

.header nav a:hover::after {
  width: 100%;
}
